.platform-win .guilds-1SWlCJ {
    padding-top: 68px;
}
.platform-win .container-3baos1 .avatarWrapper-2yR4wp {
    top: 28px;
}
.platform-win .container-3baos1 .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-win .container-3baos1 .flex-1xMQg5:not(.spotify-buttons) {
    top: 13px;
}
.platform-win .unreadMentionsIndicatorTop-2-tcdU {
    margin-top: 62px;
}

.platform-osx .guilds-1SWlCJ {
    padding-top: 64px;
}
.platform-osx .container-3baos1 .avatarWrapper-2yR4wp {
    top: 30px;
}
.platform-osx .container-3baos1 .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-osx .container-3baos1 .flex-1xMQg5:not(.spotify-buttons) {
    top: 37px;
}
.platform-osx .unreadMentionsIndicatorTop-2-tcdU {
    margin-top: 58px;
}

.platform-linux .guilds-1SWlCJ {
    padding-top: 64px;
}
.platform-linux .container-3baos1 .avatarWrapper-2yR4wp {
    top: 10px;
}
.platform-linux .container-3baos1 .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-linux .container-3baos1 .flex-1xMQg5:not(.spotify-buttons) {
    top: 16px;
}
.platform-linux .unreadMentionsIndicatorTop-2-tcdU {
    margin-top: 58px;
}

.platform-web .guilds-1SWlCJ {
    padding-top: 64px;
}
.platform-web .container-3baos1 .avatarWrapper-2yR4wp {
    top: 10px;
}
.platform-web .container-3baos1 .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-web .container-3baos1 .flex-1xMQg5:not(.spotify-buttons) {
    top: 16px;
}
.platform-web .unreadMentionsIndicatorTop-2-tcdU {
    margin-top: 58px;
}

#app-mount .container-1taM1r,
#app-mount .searchBar-6Kv8R2 {
    z-index: 1;
}
#app-mount .container-3baos1 {
    height: 0;
}
#app-mount .container-3baos1 .avatarWrapper-2yR4wp {
    --avatar-size: 48px;
    position: fixed;
    left: 12px;
}
#app-mount .container-3baos1 .avatarWrapper-2yR4wp .wrapper-3t9DeA {
    width: var(--avatar-size) !important;
    height: var(--avatar-size) !important;
}
#app-mount .container-3baos1 .avatarWrapper-2yR4wp::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: transparent;
    border-radius: 12px 8px 8px 12px;
    height: var(--avatar-size);
    width: var(--avatar-size);
    left: 15px;
}
#app-mount .container-3baos1 .avatarWrapper-2yR4wp::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 32px;
    border-radius: 1px;
    background-color: var(--background-modifier-accent);
    bottom: -10px;
    left: 8px;
}
#app-mount .container-3baos1 .avatarWrapper-2yR4wp:hover ~ .nameTag-3uD-yy.canCopy-2VBT7N,
#app-mount .container-3baos1 .avatarWrapper-2yR4wp:hover ~ .flex-1xMQg5:not(.spotify-buttons) {
    opacity: 1;
    pointer-events: all;
}
#app-mount .container-3baos1 .avatarWrapper-2yR4wp ~ .nameTag-3uD-yy.canCopy-2VBT7N,
#app-mount .container-3baos1 .avatarWrapper-2yR4wp ~ .flex-1xMQg5:not(.spotify-buttons) {
    transition: 250ms ease;
}
#app-mount .container-3baos1 .avatarWrapper-2yR4wp ~ .nameTag-3uD-yy.canCopy-2VBT7N:hover,
#app-mount .container-3baos1 .avatarWrapper-2yR4wp ~ .flex-1xMQg5:not(.spotify-buttons):hover {
    opacity: 1;
    pointer-events: all;
}
#app-mount .container-3baos1 .flex-1xMQg5:not(.spotify-buttons) {
    position: absolute;
    background-color: var(--container-color);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    max-width: 100px;
    width: 100px;
    margin-left: 0px;
    opacity: 0;
    pointer-events: none;
}
#app-mount .container-3baos1 .flex-1xMQg5:not(.spotify-buttons)::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-left-width: 5px;
    transform: rotate(90deg);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: var(--container-color);
}
#app-mount .container-3baos1 .nameTag-3uD-yy.canCopy-2VBT7N {
    position: absolute;
    background-color: var(--container-color);
    padding: 2px 15px 3px 15px;
    border-radius: 0 5px 5px 0;
    margin-left: 100px;
    opacity: 0;
    pointer-events: none;
}
#app-mount .container-3baos1 .nameTag-3uD-yy.canCopy-2VBT7N .hoverRoll-YK53gQ .customStatus-3tC2ig {
    opacity: 0;
}
#app-mount .container-3baos1 .nameTag-3uD-yy.canCopy-2VBT7N .hoverRoll-YK53gQ .hovered-d5PMVU {
    opacity: 1;
    transform: none;
}

#app-mount .scale-3iLZhb {
    opacity: 1;
    transform: none;
}
@keyframes animation {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
#app-mount #status-picker {
    width: 40px;
    top: 5px;
    left: 4px;
    transition: 250ms ease;
    animation: animation 0.2s ease-out;
}
#app-mount #status-picker::before {
    content: "";
    position: absolute;
    right: 38%;
    bottom: 100%;
    margin-top: -5px;
    border-left-width: 5px;
    transform: rotate(90deg);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: var(--container-color);
}
#app-mount #status-picker .scroller-3BxosC::-webkit-scrollbar,
#app-mount #status-picker .scroller-3BxosC .separator-2I32lJ {
    display: none;
}
#app-mount #status-picker .scroller-3BxosC .item-1tOPte {
    padding-left: 2px;
    right: 5px;
    left: -4px;
}
#app-mount #status-picker .scroller-3BxosC .item-1tOPte.focused-3afm-j#status-picker-custom-status div .customStatusWithEmoji-8-XZ8I .emoji {
    display: none;
}
#app-mount #status-picker .scroller-3BxosC .item-1tOPte.focused-3afm-j#status-picker-custom-status div .customStatusWithEmoji-8-XZ8I .clearStatusButton-1Mxs1q {
    visibility: visible;
}
#app-mount #status-picker .scroller-3BxosC .item-1tOPte .statusItem-33LqPf:not([aria-label="Set a custom status"]):not(.customStatusWithEmoji-8-XZ8I) {
    margin-left: 1px;
}
#app-mount #status-picker .scroller-3BxosC .item-1tOPte .statusItem-33LqPf .clearStatusButton-1Mxs1q {
    margin-left: -60px;
    visibility: hidden;
}
#app-mount #status-picker .scroller-3BxosC .item-1tOPte .statusItem-33LqPf .status-1fhblQ,
#app-mount #status-picker .scroller-3BxosC .item-1tOPte .statusItem-33LqPf .description-2L932D {
    display: none;
}
#app-mount #status-picker .scroller-3BxosC #status-picker-game-activity {
    left: -7px;
}
