/**
    * @name Compact Userarea
    * @description A compact, better looking, top-left user area.
    * @version 1.6.0
    * @author LuckFire
    *
    * @invite vYdXbEzqDs
    * @website https://github.com/discord-extensions
    * @source https://github.com/discord-extensions/compact-userarea/
**/

@import url('https://discord-extensions.github.io/compact-userarea/src/source.css');