#app-mount .container_debb33 .flex_f18b02 {
    opacity: 0;
    position: relative;
    align-items: center;
    pointer-events: none;
    height: 40px;
    padding: 4px;
    padding-right: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--background-floating);
}