#app-mount .container_b2ca13 .flex_bba380 {
    opacity: 0;
    position: relative;
    align-items: center;
    pointer-events: none;
    height: 40px;
    padding: 4px;
    padding-right: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--background-floating);
}