#app-mount .container_ca50b9 .flex_f5fbb7 {
    opacity: 0;
    position: relative;
    align-items: center;
    pointer-events: none;
    height: 40px;
    padding-right: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--background-floating);
}