#app-mount .container_b2ca13 .nameTag_b2ca13 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75px;
    max-width: 75px;
    height: 40px;
    padding: 4px;
    padding-left: 10px;
    margin: 0;
    margin-left: 20px;
    opacity: 0;
    pointer-events: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--background-floating);

    // tooltip arrow
    &::before {
        content: "";
        position: absolute;
        top: calc(50% - 4px);
        width: 0;
        height: 0;
        margin-left: -20px;
        border: 5px solid transparent;
        border-top-color: var(--background-floating);
        border-left-width: 5px;
        transform: rotate(90deg);
    }

    .forceHover_c0d6c6 {
        .default_c0d6c6 {
            transform: none;
            opacity: 1;
        }
        .hovered_c0d6c6 {
            transform: none !important;
            opacity: 0;
        }
    }
}