#app-mount {
    .panels-j1Uci_ .container-3baos1 {
        height: 83px;
        width: 100%;
        
        .flex-1xMQg5:not(.spotify-buttons) {
            margin-left: 65px;
        }
    }
    
    .animatorBottom-fS5rNO #status-picker {
        top: -38px;
    }
}