// some scuffed z-index stuff
.container-1-ERn5 .header-3OsQeK,
.searchBar-3TnChZ {
    z-index: 1;
}
.panels-3wFtMD {
    z-index: 0;
    &:hover {
        z-index: 2;
    }
}

// bruh moment.
.guilds-2JjMmN .scroller-3X7KbA {
    margin-bottom: 72px;
}

.panels-3wFtMD .container-YkUktl { // main container -- use of !important for bottombar users
    position: fixed !important;
    left: 4px !important;
    height: 52px;
    border-radius: 25px;
    background-color: transparent !important;

    // avatar
    .avatarWrapper-1B9FTW {
        .wrapper-1VLyxH {
            --avatar-size: 48px;
            width: var(--avatar-size) !important;
            height: var(--avatar-size) !important;
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                border-radius: 12px 8px 8px 12px;
                height: var(--avatar-size);
                width: var(--avatar-size);
                left: 20px;
            }
            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 32px;
                border-radius: 1px;
                background-color: var(--background-modifier-accent);
                bottom: -10px;
                left: 8px;
            }
        }
        // wrapper hover
        &:hover {
            ~ .nameTag-sc-gpq.canCopy-IgTwyV, 
            ~ .flex-2S1XBF:not(.spotify-buttons) {
                opacity: 1;
                pointer-events: all;
                animation: left-right 0.2s ease-in;
            }
        }
        ~ .nameTag-sc-gpq.canCopy-IgTwyV, 
        ~ .flex-2S1XBF:not(.spotify-buttons) {
            transition: 250ms ease;
            &:hover {
                opacity: 1;
                pointer-events: all;
                animation: left-right 0.2s ease-in;
            }
        }
    }

    // username
    .nameTag-sc-gpq {
        order: 2;
        min-width: 65px;
        max-width: 75px;
        padding: 3px 15px 2px 5px;
        border-radius: 0 5px 5px 0;
        background-color: var(--background-floating);
        opacity: 0;
        pointer-events: none;
        // hide custom status
        .customStatus-1UAQAK {
            opacity: 0;
        }
        .hovered-20u3oh {
            opacity: 1;
            transform: none;
        }
        &:hover ~ .flex-2S1XBF {
            opacity: 1;
        }
    }

    // buttons
    .flex-2S1XBF {
        margin-left: 13px;
        padding: 2px 2px 2px 2px;
        border-radius: 5px 0 0 5px;
        background-color: var(--background-floating);
        opacity: 0;
        pointer-events: none;
        &:hover {
            border-radius: 5px;
        }
        &::before {
            content: "";
            position: absolute;
            margin-left: -12px;
            top: 50%;
            margin-top: -5px;
            border-left-width: 5px;
            transform: rotate(90deg);
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: var(--background-floating);
        }
    }
}