.scale-3UGUBw {
    opacity: 1;
    transform: none;
}

#status-picker {
    top: 5px;
    left: 4px;
    width: 40px;
    background-color: var(--background-floating);
    transition: 250ms ease;
    animation: top-bottom 0.2s ease-out;
    &::before {
        position: absolute;
        right: 38%;
        bottom: 100%;
        content: "";
        margin-top: -5px;
        border: 5px solid transparent;
        border-left-width: 5px;
        width: 0;
        height: 0;
        border-right-color: var(--background-floating);
        transform: rotate(90deg);
    }

    .scroller-1bVxF5 {
        padding: 2px 8px;
        &::-webkit-scrollbar, 
        .separator-1So4YB {
            display: none;
        }
    }
    .item-1OdjEX {
        padding-left: 2px;
        right: 5px;
        left: -4px;
        .statusItem-2hiCNB {
            &:not([aria-label="Set a custom status"]):not(.customStatusWithEmoji-Y8lMLP) {
                margin-left: 1px;
            }
            .clearStatusButton-GXA1lF {
                margin-left: -60px;
                visibility: hidden;
            }
            .status-3TYC5W, 
                .description-3Cwkxk {
                display: none;
            }
        }
    }
    #status-picker-custom-status {
        .customEmoji-1nCP1t {
            margin-left: -3px;
        }
        .customStatusItem-1qQzss .clearStatusButton-GXA1lF {
            margin-left: -14px;
        }
        .clearStatusButton-GXA1lF {
            visibility: hidden;
        }
        &:hover {
            .customStatusWithEmoji-Y8lMLP  .customEmoji-1nCP1t {
                visibility: hidden;
            }
            .clearStatusButton-GXA1lF {
                visibility: visible;
            }
        }
    }
    #status-picker-switch-account {
        .label-2gNW3x {
            margin-left: 6px;
        }
        .iconContainer-1-SsTR {
            margin-left: -1px;
            display: none;
        }
        &:hover .iconContainer-1-SsTR {
            display: block;
        }
        + .layer-2aCOJ3 {
            left: 50px !important;
        }
    }
}