.scale-3iLZhb {
    opacity: 1;
    transform: none;
}

#status-picker {
    top: 5px;
    left: 4px;
    width: 40px;
    background-color: var(--container-color);
    transition: 250ms ease;
    animation: top-bottom 0.2s ease-out;
    &::before {
        position: absolute;
        right: 38%;
        bottom: 100%;
        content: "";
        margin-top: -5px;
        border: 5px solid transparent;
        border-left-width: 5px;
        width: 0;
        height: 0;
        border-right-color: var(--container-color);
        transform: rotate(90deg);
    }

    .scroller-3BxosC {
        padding: 2px 8px;
        &::-webkit-scrollbar, 
        .separator-2I32lJ {
            display: none;
        }
    }
    .item-1tOPte {
        padding-left: 2px;
        right: 5px;
        left: -4px;
        .statusItem-33LqPf {
            &:not([aria-label="Set a custom status"]):not(.customStatusWithEmoji-8-XZ8I) {
                margin-left: 1px;
            }
            .clearStatusButton-1Mxs1q {
                margin-left: -60px;
                visibility: hidden;
            }
            .status-1fhblQ, 
                .description-2L932D {
                display: none;
            }
        }
    }
    #status-picker-custom-status {
        .customEmoji-2_2FwB {
            margin-left: -3px;
        }
        .customStatusItem-1TTIxM .clearStatusButton-1Mxs1q {
            margin-left: -14px;
        }
        .clearStatusButton-1Mxs1q {
            visibility: hidden;
        }
        &:hover {
            .customStatusWithEmoji-8-XZ8I  .customEmoji-2_2FwB {
                visibility: hidden;
            }
            .clearStatusButton-1Mxs1q {
                visibility: visible;
            }
        }
    }
    #status-picker-switch-account {
        .label-22pbtT {
            margin-left: 6px;
        }
        .iconContainer-2-XQPY {
            margin-left: -1px;
            display: none;
        }
        &:hover .iconContainer-2-XQPY {
            display: block;
        }
        + .layer-v9HyYc {
            left: 50px !important;
        }
    }
}