#app-mount .panels-j1Uci_ .container-3baos1 {
    height: 0;
    width: 0;

    .activityPanel-28dQGo {
        margin-bottom: -2px
    }

    .flex-1xMQg5:not(.spotify-buttons) {
        position: fixed;
        z-index: 5;
        background-color: var(--popout-color);
        border-radius: 5px;
        padding: 2px 5px 2px 5px;
        max-width: 100px;
        width: 100px;
        opacity: 0;
        margin-left: -10px;
        pointer-events: none;
    
        &::before {
            content: "";
            z-index: 0;
            position: absolute;
            background: inherit;
            transform: rotate(50deg);
            padding: 15px 0 0 20px;
            top: 13px;
            left: -2px;
        }
    }
    
    .nameTag-3uD-yy {
        position: fixed;
        z-index: 101;
        background-color: var(--popout-color);
        opacity: 0;
        border-radius: 0 5px 5px 0;
        height: 32px;
        width: 6%;
        padding: 2px 10px 2px 4px;
        margin-left: 96px;
        pointer-events: none;
    }

    .avatarWrapper-2yR4wp {
        &:hover {
            ~ .nameTag-3uD-yy.canCopy-2VBT7N, ~ .flex-1xMQg5:not(.spotify-buttons) {
                @include animation();
            }
        }

        ~ .nameTag-3uD-yy.canCopy-2VBT7N, ~ .flex-1xMQg5:not(.spotify-buttons) {
            &:hover {
                @include animation();
            }
        }
    }

    .hoverRoll-YK53gQ {
        .customStatus-3tC2ig {
            opacity: 0;
        }

        .hovered-d5PMVU {
            opacity: 1;
            transform: none;
        }
    }
}