#app-mount {
    // z-index stupidity
    .container-1taM1r,
    .searchBar-6Kv8R2 {
        z-index: 1;
    }

    .container-3baos1 {
        top: 0 !important; // bottombar support
        height: 0;

        // avatar
        .avatarWrapper-2yR4wp {
            --avatar-size: 48px;
            position: fixed;
            left: 12px;
    
            .wrapper-3t9DeA {
                width: var(--avatar-size) !important;
                height: var(--avatar-size) !important;
            }
    
            &::before { // this stuff is literal cringe.
                content: "";
                position: absolute;
                z-index: -1;
                background-color: transparent;
                border-radius: 12px 8px 8px 12px;
                height: var(--avatar-size);
                width: var(--avatar-size);
                left: 15px;
            }
            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 32px;
                border-radius: 1px;
                background-color: var(--background-modifier-accent);
                bottom: -10px;
                left: 8px;
            }
    
            // hover
            &:hover {
                ~ .nameTag-3uD-yy.canCopy-2VBT7N, 
                ~ .flex-1xMQg5:not(.spotify-buttons) {
                    opacity: 1;
                    pointer-events: all;
                }
            }
            ~ .nameTag-3uD-yy.canCopy-2VBT7N, 
            ~ .flex-1xMQg5:not(.spotify-buttons) {
                transition: 250ms ease;
    
                &:hover {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    
        // buttons
        .flex-1xMQg5:not(.spotify-buttons) {
            position: absolute;
            background-color: var(--container-color);
            padding: 2px 5px 2px 5px;
            border-radius: 5px;
            max-width: 100px;
            width: 100px;
            margin-left: 0px;
            opacity: 0;
            pointer-events: none;
    
            &::before {
                content: "";
                position: absolute;
                right: 100%;
                top: 50%;
                margin-top: -5px;
                border-left-width: 5px;
                transform: rotate(90deg);
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-top-color: var(--container-color);
            }
        }
    
        // nametag
        .nameTag-3uD-yy.canCopy-2VBT7N {
            position: absolute;
            background-color: var(--container-color);
            padding: 2px 15px 3px 15px;
            border-radius: 0 5px 5px 0;
            margin-left: 100px;
            opacity: 0;
            pointer-events: none;
    
            .hoverRoll-YK53gQ {
                .customStatus-3tC2ig {
                    opacity: 0;
                }
        
                .hovered-d5PMVU {
                    opacity: 1;
                    transform: none;
                }
            }
        }
    }
}
