$osTypes:
    "win" 28px 68px 13px, // windows
    "osx" 30px 64px 37px, // macOS
    "linux" 10px 64px 16px, // linux
    "web" 10px 64px 16px; // browser

@each $osType, $avatarTop, $guildPadding, $containerTop in $osTypes {
    .platform-#{$osType} {
        .guilds-1SWlCJ {
            padding-top: $guildPadding;
        }
        
        .container-3baos1 {
            .avatarWrapper-2yR4wp {
                top: $avatarTop;
            }
    
            .nameTag-3uD-yy.canCopy-2VBT7N,
            .flex-1xMQg5:not(.spotify-buttons) {
                top: $containerTop;
            }
        }

        .unreadMentionsIndicatorTop-2-tcdU {
            margin-top: $guildPadding - 6px;
        }
    }
}
