$osTypeInfo:
    "win" 72px 30px, // windows
    "osx" 66px 30px, // macOS
    "linux" 64px 8px, //linux
    "web" 64px 8px; // web

@each $os, $guildTop, $containerTop in $osTypeInfo {
    .platform-#{$os} {
        .container_b2ca13 {
            top: $containerTop !important;
        }
        
        .guilds_a4d4d9 {
            margin-top: $guildTop;
        }
    }
}
