$osTypeInfo:
    "win" 72px 30px, // windows
    "osx" 66px 30px, // macOS
    "linux" 64px 8px, //linux
    "web" 64px 8px; // web

@each $os, $guildTop, $containerTop in $osTypeInfo {
    .platform-#{$os} {
        .container_ca50b9 {
            top: $containerTop !important;
        }
        
        .guilds__2b93a > ul {
            margin-top: $guildTop;
        }
    }
}
