@use 'container';

#app-mount .panels__58331 {
    z-index: 0;

    .container_debb33 {
        position: fixed;
        display: flex;
        flex-direction: row;
        left: 12px;
        padding: 0;
        background: transparent !important;

        // tooltip drop shadow
        &::before {
            opacity: 0;
            content: "";
            position: absolute;
            left: 68px;
            width: calc(100% - 68px);
            height: calc(100% - 12px);
            border-radius: 5px;
            box-shadow: var(--elevation-high);
        }
    }

    &:has(.container_debb33 .avatar_f8541f:hover),
    &:has(.container_debb33 .avatarWrapper__500a6:hover),
    &:has(.container_debb33 .flex_f18b02:hover) {
        z-index: 1004;
        
        .flex_f18b02,
        .nameTag__77ab2,
        .container_debb33::before {
            opacity: 1;
            pointer-events: all;
        }
    }
}
