@use 'container';

#app-mount .panels_a4d4d9 {
    z-index: 0;

    .container_b2ca13 {
        position: fixed;
        display: flex;
        flex-direction: row;
        left: 12px;
        padding: 0;
        background: transparent !important;

        // tooltip drop shadow
        &::before {
            opacity: 0;
            content: "";
            position: absolute;
            left: 68px;
            width: calc(100% - 68px);
            height: calc(100% - 12px);
            border-radius: 5px;
            box-shadow: var(--elevation-high);
        }
    }

    &:has(.container_b2ca13 .avatar_b2ca13:hover),
    &:has(.container_b2ca13 .avatarWrapper_b2ca13:hover),
    &:has(.container_b2ca13 .flex_bba380:hover) {
        z-index: 1004;
        
        .flex_bba380,
        .nameTag_b2ca13,
        .container_b2ca13::before {
            opacity: 1;
            pointer-events: all;
        }
    }
}
