@mixin animation {
    opacity: 1;
    pointer-events: all;
    transition: 250ms ease;
}

@mixin osType($guildTop, $separatorBottom, $containerTop, $avatarTop) {
    .guilds-1SWlCJ {
        padding-top: $guildTop;
    }

    .container-3baos1 .avatarWrapper-2yR4wp::after {
        bottom: $separatorBottom;
    }

    .panels-j1Uci_ .container-3baos1 { 
        .flex-1xMQg5:not(.spotify-buttons), .nameTag-3uD-yy {
            top: $containerTop;
        }
    
        .avatarWrapper-2yR4wp {
            top: $avatarTop;
        }
    }
}

@mixin bdUpdate($guildTop, $avatarTop, $containerTop) {
    .notice-3bPHh- ~ .layers-3iHuyZ {
        .guilds-1SWlCJ {
            padding-top: $guildTop;
        }
    
        .panels-j1Uci_ .container-3baos1 {
            .avatarWrapper-2yR4wp {
                top: $avatarTop;
            }

            .flex-1xMQg5:not(.spotify-buttons), .nameTag-3uD-yy {
                top: $containerTop;
            }
        }
    }
}