@mixin animation {
    opacity: 1;
    pointer-events: all;
    transition: 250ms ease;
}

@mixin osChange($containerTop, $avatarTop) {
    .panels-j1Uci_ .container-3baos1 { 
        .flex-1xMQg5:not(.spotify-buttons), .nameTag-3uD-yy {
            top: $containerTop;
        }
    
        .avatarWrapper-2yR4wp {
            top: $avatarTop;
        }
    }
}