.platform-win .container-YkUktl {
  top: 30px !important;
}
.platform-win .guilds-2JjMmN .tree-3agP2X {
  margin-top: 72px;
}

.platform-osx .container-YkUktl {
  top: 30px !important;
}
.platform-osx .guilds-2JjMmN .tree-3agP2X {
  margin-top: 66px;
}

.platform-linux .container-YkUktl {
  top: 8px !important;
}
.platform-linux .guilds-2JjMmN .tree-3agP2X {
  margin-top: 64px;
}

.platform-web .container-YkUktl {
  top: 8px !important;
}
.platform-web .guilds-2JjMmN .tree-3agP2X {
  margin-top: 64px;
}

#status-picker {
  top: 5px;
  left: 4px;
  width: 40px;
  background-color: var(--background-floating);
  transition: 250ms ease;
  -webkit-animation: top-bottom 0.2s ease-out;
          animation: top-bottom 0.2s ease-out;
}
#status-picker::before {
  content: "";
  position: absolute;
  right: calc(50% - 5px);
  bottom: 100%;
  border: 5px solid transparent;
  border-right-color: var(--background-floating);
  border-left-width: 5px;
  transform: rotate(90deg);
}
#status-picker .scroller-1bVxF5 {
  padding: 2px 8px;
}
#status-picker .scroller-1bVxF5::-webkit-scrollbar,
#status-picker .scroller-1bVxF5 .separator-1So4YB {
  display: none;
}
#status-picker .scroller-1bVxF5 .item-1OdjEX {
  right: 5px;
  left: -4px;
  padding-left: 2px;
}
#status-picker .scroller-1bVxF5 .item-1OdjEX .statusItem-2hiCNB .status-3TYC5W,
#status-picker .scroller-1bVxF5 .item-1OdjEX .statusItem-2hiCNB .description-3Cwkxk {
  display: none;
}
#status-picker .scroller-1bVxF5 .item-1OdjEX .statusItem-2hiCNB:not([aria-label="Set a custom status"]):not(.customStatusWithEmoji-Y8lMLP) {
  margin-left: 1px;
}
#status-picker .scroller-1bVxF5 .item-1OdjEX .statusItem-2hiCNB .clearStatusButton-GXA1lF {
  margin-left: -60px;
  visibility: hidden;
}
#status-picker .scroller-1bVxF5 #status-picker-custom-status .customEmoji-1nCP1t {
  margin-left: -3px;
}
#status-picker .scroller-1bVxF5 #status-picker-custom-status .customStatusItem-1qQzss .clearStatusButton-GXA1lF {
  margin-left: -14px;
}
#status-picker .scroller-1bVxF5 #status-picker-custom-status .clearStatusButton-GXA1lF {
  visibility: hidden;
}
#status-picker .scroller-1bVxF5 #status-picker-custom-status:hover .customStatusWithEmoji-Y8lMLP .customEmoji-1nCP1t {
  visibility: hidden;
}
#status-picker .scroller-1bVxF5 #status-picker-custom-status:hover .clearStatusButton-GXA1lF {
  visibility: visible;
}
#status-picker .scroller-1bVxF5 #status-picker-switch-account .label-2gNW3x {
  margin-left: 6px;
}
#status-picker .scroller-1bVxF5 #status-picker-switch-account .iconContainer-1-SsTR {
  margin-left: -1px;
  display: none;
}
#status-picker .scroller-1bVxF5 #status-picker-switch-account:hover .iconContainer-1-SsTR {
  display: block;
}
#status-picker .scroller-1bVxF5 #status-picker-switch-account + .layer-2aCOJ3 {
  left: 50px !important;
}

.panels-3wFtMD {
  z-index: 0;
}
.panels-3wFtMD:hover {
  z-index: 5;
}
.panels-3wFtMD .container-YkUktl {
  position: fixed;
  top: 0;
  left: 4px;
  height: 52px;
  border-radius: 25px;
}
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW {
  width: 60px;
}
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW::after {
  content: "";
  position: absolute;
  left: 16px;
  width: 32px;
  height: 2px;
  margin-top: 8px;
  border-radius: 1px;
  background-color: var(--background-modifier-accent);
}
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW:hover ~ .nameTag-sc-gpq.canCopy-IgTwyV,
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW:hover ~ .flex-2S1XBF:not(.spotify-buttons) {
  opacity: 1;
  pointer-events: all;
  -webkit-animation: left-right 0.2s ease-in;
          animation: left-right 0.2s ease-in;
}
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW ~ .nameTag-sc-gpq.canCopy-IgTwyV,
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW ~ .flex-2S1XBF:not(.spotify-buttons) {
  transition: 250ms ease;
}
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW ~ .nameTag-sc-gpq.canCopy-IgTwyV:hover,
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW ~ .flex-2S1XBF:not(.spotify-buttons):hover {
  opacity: 1;
  pointer-events: all;
  -webkit-animation: left-right 0.2s ease-in;
          animation: left-right 0.2s ease-in;
}
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW .wrapper-1VLyxH {
  --avatar-size: 48px;
  width: var(--avatar-size) !important;
  height: var(--avatar-size) !important;
}
.panels-3wFtMD .container-YkUktl .nameTag-sc-gpq {
  order: 2;
  opacity: 0;
  min-width: 65px;
  max-width: 75px;
  padding: 2px 15px 2px 5px;
  border-radius: 0 4px 4px 0;
  box-shadow: var(--elevation-high);
  background-color: var(--background-floating);
  pointer-events: none;
}
.panels-3wFtMD .container-YkUktl .nameTag-sc-gpq .customStatus-1UAQAK {
  opacity: 0;
}
.panels-3wFtMD .container-YkUktl .flex-2S1XBF {
  opacity: 0;
  padding: 2px;
  border-radius: 4px 0 0 4px;
  box-shadow: var(--elevation-high);
  background-color: var(--background-floating);
  pointer-events: none;
}
.panels-3wFtMD .container-YkUktl .flex-2S1XBF:hover {
  border-radius: 4px;
}
.panels-3wFtMD .container-YkUktl .flex-2S1XBF::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  width: 0;
  height: 0;
  margin-left: -12px;
  border: 5px solid transparent;
  border-top-color: var(--background-floating);
  border-left-width: 5px;
  transform: rotate(90deg);
}
.panels-3wFtMD .container-YkUktl .flex-2S1XBF .button-12Fmur {
  width: 31px;
  height: 31px;
  border-radius: 3px;
}

@-webkit-keyframes top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes left-right {
  0% {
    opacity: 0;
    transform: translateX(-4px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes left-right {
  0% {
    opacity: 0;
    transform: translateX(-4px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}