/* User Avatar */
.tutorialContainer-1v44GL {
    padding-top: 58px;
    padding-bottom: 2px;
}
.unreadMentionsIndicatorTop-gA6RCh {
    position: fixed;
    top: 75px;
}

.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    position: fixed;
    z-index: 5;
    left: 8px;
}
.platform-win .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp,
.platform-osx .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    top: 23px;
}
.platform-linux .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    top: 5px;
}

.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp::after {
    content: "";
    background: var(--background-tertiary);
    padding-top: 45px;
    padding-left: 72px;
    margin-left: -8px;
}
.container-3baos1 > .avatarWrapper-2yR4wp > .avatar-SmRMf2:not(.spotify-cover) {
    padding: 6px;
}

/* Status Picker */
#popout_8 > .animatorBottom-fS5rNO {
    transition: none;
}

#status-picker {
    width: 44.5px;
    margin-top: -9px;
    margin-left: 7px;
}
#status-picker::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: inherit;
    transform: rotate(45deg);
    padding-top: 15px;
    padding-left: 20px;
    margin-left: 13px;
}

.statusItem-33LqPf > .icon-1IxfJ2 {
    margin-left: 1px;
}
#status-picker-custom-status > div > .statusItem-33LqPf { 
    margin-left: -0.5px;
}

.scrollerBase-289Jih > [id*="status-picker-"] + .separator-2I32lJ,
.statusItem-33LqPf > .status-1fhblQ,
.statusItem-33LqPf > .description-2L932D,
.statusItem-33LqPf > .separator-2I32lJ,
.statusItem-33LqPf > .customText-tY5LJn,
.statusItem-33LqPf > .clearStatusIcon-3-MDNF {
    display: none;
}


/* Voice Actions and Settings */
.nameTag-3uD-yy.canCopy-2VBT7N {
    position: fixed;
    z-index: 5;
    background-color: var(--background-secondary-alt);
    opacity: 0;
    border-radius: 0 5px 5px 0;
    width: 85px;
    padding: 2px 0 2px 0;
    padding-left: 20px;
    margin-left: 75px;
    height: 32px;
}

.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    position: fixed !important;
    background-color: var(--background-secondary-alt);
    border-radius: 5px;
    max-width: 104px;
    padding: 2px 0 2px 0;
    margin-left: -10px;
    z-index: 5;
    opacity: 0;
    transition: 250ms ease;
}
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons)::before {
    content: "";
    position: absolute;
    z-index: -2;
    background: inherit;
    transform: rotate(50deg);
    padding-top: 15px;
    padding-left: 20px;
    top: 12px;
    left: -2px;
}

.platform-win .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-win .nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons),
.platform-osx .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-osx .nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    top: 33px;
}
.platform-linux .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-linux .nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    top: 15px;
}

.panels-j1Uci_ > .container-3baos1 { /* ty Creation's#0001 */
    height: 0;
    width: 0
}
.panels-j1Uci_ > .activityPanel-28dQGo {
    margin-bottom: -2px
}
.panels-j1Uci_ .hoverRoll-YK53gQ .customStatus-3tC2ig { /* ty botato */
    opacity: 0;
}
.panels-j1Uci_ .hoverRoll-YK53gQ .hovered-d5PMVU {
    opacity: 1;
    transform: none;
}

.avatarWrapper-2yR4wp:hover ~ .nameTag-3uD-yy.canCopy-2VBT7N,
.avatarWrapper-2yR4wp ~ .nameTag-3uD-yy.canCopy-2VBT7N:hover,
.nameTag-3uD-yy.canCopy-2VBT7N:hover ~ .flex-1xMQg5:not(.spotify-buttons),
.avatarWrapper-2yR4wp:hover ~ .flex-1xMQg5:not(.spotify-buttons),
.avatarWrapper-2yR4wp ~ .flex-1xMQg5:not(.spotify-buttons):hover {
    opacity: 1;
    transition: 250ms ease;
}
.panels-j1Uci_ > .container-3baos1:last-child {
    z-index: 4;
}
