/* User Avatar */
.tutorialContainer-1v44GL {
    padding-top: 58px;
    padding-bottom: 2px;
}
.unreadMentionsIndicatorTop-gA6RCh {
    position: fixed;
    top: 75px;
}

.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    position: fixed;
    z-index: 5;
    left: 8px;
}
.platform-win .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp,
.platform-osx .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    top: 23px;
}
.platform-linux .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    top: 5px;
}

.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp::after {
    content: "";
    background: var(--background-tertiary);
    padding: 45px 0 0 72px;
    margin-left: -8px;
}
.container-3baos1 > .avatarWrapper-2yR4wp > .avatar-SmRMf2:not(.spotify-cover) {
    padding: 6px;
}

/* Status Picker */
#popout_8 > .animatorBottom-fS5rNO {
    transition: none;
}

#status-picker {
    width: 44.5px;
    margin: -9px 0 0 7px;
}
#status-picker::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: inherit;
    padding: 15px 0 0 20px;
    margin-left: 13px;
    transform: rotate(45deg);
}

.statusItem-33LqPf > .icon-1IxfJ2 {
    margin-left: 1px;
}
#status-picker-custom-status > div > .statusItem-33LqPf { 
    margin-left: -0.5px;
}

.scrollerBase-289Jih > [id*="status-picker-"] + .separator-2I32lJ,
.statusItem-33LqPf > .status-1fhblQ,
.statusItem-33LqPf > .description-2L932D,
.statusItem-33LqPf > .separator-2I32lJ,
.statusItem-33LqPf > .customText-tY5LJn,
.statusItem-33LqPf > .clearStatusIcon-3-MDNF {
    display: none;
}


/* Voice Actions and Settings */
.notice-3bPHh- {
    z-index: 4;
}

.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    position: fixed !important;
    z-index: 5;
    background-color: var(--background-secondary-alt);
    transition: 150ms ease;
    border-radius: 5px;
    padding: 2px 0 2px 0;
    margin-left: -10px;
    opacity: 0;
    pointer-events: none;
}
.nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons)::before {
    content: "";
    z-index: -2;
    position: absolute;
    background: inherit;
    transform: rotate(50deg);
    padding: 15px 0 0 20px;
    top: 12px;
    left: -2px;
}

.platform-win .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-win .nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons),
.platform-osx .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-osx .nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    top: 33px;
}
.platform-linux .nameTag-3uD-yy.canCopy-2VBT7N,
.platform-linux .nameTag-3uD-yy ~ .flex-1xMQg5:not(.spotify-buttons) {
    top: 15px;
}

.avatarWrapper-2yR4wp:hover ~ .nameTag-3uD-yy.canCopy-2VBT7N,
.avatarWrapper-2yR4wp ~ .nameTag-3uD-yy.canCopy-2VBT7N:hover,
.avatarWrapper-2yR4wp:hover ~ .flex-1xMQg5:not(.spotify-buttons),
.avatarWrapper-2yR4wp ~ .flex-1xMQg5:not(.spotify-buttons):hover {
    opacity: 1;
    pointer-events: all;
    transition: 150ms ease;
}
.panels-j1Uci_ > .container-3baos1:last-child {
    z-index: 4;
}


/* Title Bar z-index Fix */
.titleBar-AC4pGV {
    z-index: 2;
}
.tooltip-2QfLtc.tooltipTop-XDDSxx {
    z-index: 3;
}
